/* Cart.css */
.cart {
  border: 1px solid #ccc;
  padding: 1rem 4rem;
  margin: 1rem 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-item img {
  max-width: 50px;
  margin-right: 10px;
}

.cart-item button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  margin-left: 20px;
  padding: 4px 8px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #e6482e;
}

.cart p {
  font-weight: bold;
  margin-top: 16px;
}
