.footer {
  display: flex;
  background-color: #007bff;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.footer>p {
  color: #F4F5F6;
}

@media only screen and (max-width: 767px) {
  .footer {
    flex-wrap: wrap;
    column-gap: 10vh;
  }

  .footer>p {
    order: 1;
  }

  .footer>h2 {
    margin: 0.5rem 0;
  }
}