.header {
  background-color: #007bff;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  padding: 0 8vw;
  align-items: center;
  color: whitesmoke;
}

.header-logo {
  display: flex;
}

.header>.header-account {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.header>.header-account>div>.font-user {
  font-size: 20px;
}

.header>.header-account>div>.account,
.nav-links>li>a {
  text-decoration: none;
  /* padding: 0 20px; */
  color: whitesmoke;
  font-weight: 500;
}

.header>.header-account>div>.account:hover,
.nav-links>li>a:hover {
  transition: all 0.2s ease-in;
  color: #06AB08;
  cursor: pointer;
  font-weight: 600;
}

.header>.header-account>div>.account {
  padding-left: 12px;
}

.nav-links {
  display: flex;
  column-gap: 3rem;
}

.nav-links>li {
  list-style: none;
}

.logo {
  width: 100px;
}

.header--title {
  color: whitesmoke;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header>.nav-links {
    display: none;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
  }

  .header-logo {
    margin-bottom: 0;
  }

  .header .menu-toggle {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .header>.nav-links {
    display: none;
  }

  .header {
    padding: 0 4vw !important;
  }
}