.modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.loader {
  margin: 35vh auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2980B9;
  border-right: 16px solid #2ECC71;
  border-bottom: 16px solid #e62020;
  border-left: 16px solid #f5ba1a;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}