.product {
  width: 16.5vw;
  height: 45vh;
  margin: 2rem auto;
}

.product>.product-title {
  display: flex;
  justify-content: space-between;
  column-gap: 1vw;
  align-items: baseline;
  font-weight: bold;
}

.product>.product-title>h2 {
  height: 30px;
  font-size: 14px;
}

.product>.product-title>p {
  display: flex;
  align-items: baseline
}

.product>.product-img {
  position: relative;
  background-color: #F5F6F6;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.product .product-img .img {
  height: 20vh;
  width: 20vh;
}

.product>.product-desc {
  color: #464342;
  font-size: 12px;
}

.product>.div-rating>.rating-count {
  font-size: 12px;
  padding-left: 0.3rem;
}

.product>.div-rating>.star-rating {
  margin-top: 5px;
  display: inline-block;
}

.product>.div-rating>.star-rating>.star {
  color: #06AB08;
}

.product>.product-img:hover {
  transition: all 0.2s ease-in;
  box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.2);

}

.product>.product-img>.heart-icon {
  background: white;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  z-index: 1;
}

.product .product-img .heart-icon:hover {
  color: red;
  cursor: pointer;
}

.product .product-img .img:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.product>h2 {
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
}

.product-btn {
  display: inline;
}

.showDetailsBtn {
  cursor: pointer;
  margin: 10px 0;
  border: 1px solid #464342;
  padding: 10px 16px;
  background-color: white;
  border-radius: 2rem;
  font-weight: 600;
}

.showDetailsBtn:hover {
  transition: all 0.2s ease-in;
  background-color: #003D29;
  color: whitesmoke;
  text-shadow: none;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .product {
    width: 22vw !important;
  }

  .product>.product-title>h2 {
    font-size: 0.75rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .product {
    width: 30vw !important;
  }
}

@media only screen and (max-width: 767px) {
  .product {
    width: 60vw !important;
  }
  .product>h2 {
    font-size: 1.1rem;
  }
}
