.product-page {
  text-align: center;
  padding: 5vh 12vw 2vh 12vw;
}

.product-page .img {
  width: 25vw;
  height: 47vh;
}

.product-rating .star {
  color: #06AB08;
}

.product-rating {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}