/* Styles for the search input */
.search-input {
  width: 200px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

/* Styles for the search input on focus */
.search-input:focus {
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

/* Additional styles for larger screens */
@media screen and (min-width: 768px) {
  .search-input {
    width: 300px;
  }
}