body {
  background-color: #FFF;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 14vw;
}

ul {
  margin: 0;
  padding: 0;
}

.main-body-title {
  color: #19004d;
  text-align: center;
}

.pageError {
  margin: 30vh 0;
  color: #990000;
  text-align: center;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  align-items: center;
  padding: 0 15vw;

}

/* Style for the label */
.filter-container>label,
.sort-container>label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/* Style for the select */
.filter-container>select,
.sort-container>select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  width: 100%;
  /* max-width: 200px; */
}

/* Style for the option elements */
.filter-container>option,
.sort-container>option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

/* Style for the selected option */
.filter-container>option:checked,
.sort-container>option:checked {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  .filter-sort {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center !important;
  }
}

@media only screen and (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
  }

  .filter-sort {
    flex-direction: column;
    gap: 20px;
  }
}